SERVER_PORT=8082

#Initialize Database
MYSQL_ROOT_PASSWORD=MYSQL_SERVER_ROOT_USER_PASSWORD
MYSQL_DATABASE=DB_NAME
MYSQL_USER=DB_USER_NAME
MYSQL_PASSWORD=DB_USER_PASSWORD

SPRING_DATASOURCE_USERNAME=SAME_AS_DB_USER_NAME
SPRING_DATASOURCE_PASSWORD=SAME_AS_DB_USER_PASSWORD

# Use 'update' only during development
SPRING_JPA_DDL_AUTO=update

JWT_SECRET=YOUR_SECRET_KEY_NOT_LESS_THAN_32_CHARS

# Mail configuration
MAIL_USERNAME=YOUR_GMAIL_USERNAME
MAIL_PASSWORD=YOUR_GMAIL_APP_PASSWORD

FRONTEND_LOGIN_URL=LOGIN_PAGE_URL
VIEW_BOOKING_URL=MY_BOOKINGS_PAGE_URL